<br />
<div class="jumbotron">
<h1>Blocitoff</h1>
<p>A Self-Destructing To-Do List</p>
<p>
  <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
  <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %>
</p>
</div>

<div class="text-center">
    <h2>Keeping your to do List Important</h2>
      <p>Blocitoff will destroy those to-do items that are clearly not important</p>
</div>

