@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

body {
  background-image: image-url("brushed_alu.png");
}

p {
  font-family: 'Roboto', Arial, sans-serif;
}

a {
  color: #745024;
}

li a:hover {
  color: #CF6E4B;
  background-color: #B8AD5D;
}

#item {
  font-size: 3.5em;
}
.intro {
  background-color:rgba(204,218,243,0.5);
  height: 350px;
  padding: 30px 0 0 60px;
}

h1, li {
  font-family: 'Shadows Into Light Two', cursive;
}

.intro h1{
  font-size: 4.5em;
  color: #745024;
}

.intro p {
  font-size: 2em;
}

li {
  font-size: 1.6em;
}

.my_nav_container {
  margin-right: 0 auto;
  width: 100%;

}
.container-fluid { /* overrode bootstrap style */
  padding-right: 0;
  padding-top: 35px;
  border-bottom: 2px solid #745024;
}

.nav-tabs { /* overrode bootstrap style */
  border-bottom: none;
}

.intro {
  border-radius: 10px;
}

.my_nav {
  float: right;
  margin-right: 0;
  padding-left: 20px;
  text-align: right;
}

.my_user {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 1.15em;

}
.intro .btn-primary {
  background-color: #662E25;
  border-color: #662E25;
  font-family: 'Roboto', Arial, sans-serif;
}

.my_btn {
  margin-top: 5px;
}

/* 

/* ----- ITEMS STYLES ----- */

.wrapper {
  background-color:rgba(204,218,243,0.5);
  margin: 0 auto;
  width: 75%;
  padding: 5px 0 5px 23px;
}

.row {
  width: 100%;
  border-bottom: 1px solid white;
}

.item_name {
    font-size: 1.3em;
    width: 55%;
    float: left;
}

.item_days {
  width: 35%;
  float: right;
}

/* ---- SHOW PAGE ELEMENTS ---- */

.title {
  width: 100%;
  clear: right;
}

.title h1 {
  display: block;
  width: 45%;
}

.title small {
  display: block;
  width: 35%;
  vertical-align: bottom;
}

#list_title {
  font-size: 2.5em;
  font-family: 'Shadows Into Light Two', cursive;
  
}


